---
---
@import "style";


.profile-picture {
    display: block;
    margin: auto; /* This centers the image */
    max-width: 100%; /* Makes sure the image is responsive */
    height: auto; /* Maintains the aspect ratio */
}
